*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(15, 15, 79);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2{
    margin: 30px;
    margin-left: 50px;
    color: white;
}

i{
    position: absolute;
    margin-top: -50px;
    margin-left: 1250px;
    color: white;
}

.text, .in{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.text h2{
    font-size: 30pt;
}

.in input{
    padding: 10px;
    font-size: 12pt;
    border: none;
}

input:focus{
    background-color: rgb(117, 218, 218);
    outline: none;
}

input[type="submit"]{
    margin-top: 40px;
    margin-left: 160px;
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 120px;
    border: 1px solid white;
    transition: all 0.5s;
}
input[type="submit"]:hover{
    background-color: tomato;
}


@media screen and (max-width: 600px){
    h2{
        font-size: 13pt;
        margin-left: 35px;
    }
    
    i{
        position: absolute;
        margin-top: -50px;
        margin-left: 300px;
        color: white;
    }

    section{
        margin-top: 170px;
    }

    .text, .in{
    margin: 5px;
    }

    .text h2{
        font-size: 20pt;
    }

    input{
        width: 290px;
        margin-left: -20px;
    }

    input[type="submit"]{
        margin-left: 60px;
        margin-top: 20px;
    }
    
}

